{% extends "admin/passwordbase.html" %}
{% load i18n static %}


{% block content %}

<div class="container">
  <div class="row g-5 p-4">
    <div class="col-sm-12 col-lg-6">
      <div class="p-5">
        <h2>{% translate 'Password reset' %}</h2>
        <p>{% translate "Your password has been set.  You may go ahead and log in now." %}</p>
        <p><a id="idlink" data-bs-toggle="modal" data-bs-target="#admin-modal-connexion" href="">{% translate 'Log in' %}</a></p>
        
        {% include "downloadaccelerator/include/modaladmin.html" %}
        {% include "downloadaccelerator/include/modalwelcome.html" %}

      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block js %}
<script>
$(
  function(){
    {% include "downloadaccelerator/include/common.js" %}
    {% include "downloadaccelerator/include/modalconnexion.js" %}
  }
);
</script>
{% endblock js %}