{% extends "admin/passwordbase.html" %}
{% load i18n static %}


{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}">
{% endblock css %}

{% block content %}
<div class="container">
    <div class="row g-5">
      <div class="col-sm-12 col-lg-6">
        <div class="p-3">
            <h2 class="font-weight-bold mt-3">Reset Password</h2>
            <form method="post">
            {% csrf_token %}
                <fieldset class="module aligned">
                    <div class="form-row field-email">
                        {{ password_reset_form }}
                    </div>
                    <input type="submit" value="{% translate 'Reset my password' %}">
                </fieldset>
            </form>
        </div>
      </div>
    </div>
</div>
{% endblock content %}
