{% extends "admin/passwordbase.html" %}
{% load i18n %}


{% block content %}

<div class="container">
    <div class="row g-5 p-4">
      <div class="col-sm-12 col-lg-6">
        <div class="p-3">
          <h2>{% translate 'Password reset' %}</h2>
          <p>{% translate "Your password has been set.  You may go ahead and log in now." %}</p>
          <p><a id="idlink" data-bs-toggle="modal" data-bs-target="#modal-connexion" href="{% url 'downloadaccelerator:modalconnexion' %}">{% translate 'Log in' %}</a></p>

          <!-- Dialog modal connexion to the forums -->
          <div class="modal fade" id="modal-connexion" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content" id="modal-content-connexion">
              </div>
            </div>
          </div>
          <!-- End of dialog modal connexion to the forums -->
          
        </div>
      </div>
    </div>
</div>

{% endblock content %}

{% block js %}
<script>
$(function(){

    $('#idlink').click(
      function(){
        $('#modal-content-connexion').load(
          "{% url 'downloadaccelerator:modalconnexion' 'reset' %}",function(){
            $('#modal-connexion').modal('show');
          }
        );
      }
    );

});
</script>
{% endblock js %}
