{% extends "admin/passwordbase.html" %}
{% load i18n %}


{% block content %}

<div class="container">
    <div class="row g-5 p-4">
      <div class="col-sm-12 col-lg-6">
        <div class="p-3">
          <h2>{% translate 'Password reset' %}</h2>
          <p>{% translate "Your password has been set.  You may go ahead and log in now." %}</p>
          <p><a data-bs-toggle="modal" data-bs-target="#modal-connexion" href="">{% translate 'Log in' %}</a></p>

          <!-- Modal Connexion -->
          <div class="modal fade" id="modal-connexion" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="mx-auto mt-3">
                      <h5 class="modal-title" id="">Sign in</h5>
                    </div>
                    <div class="modal-body">
                        <form id="connexionForm">
                        {% csrf_token %}
                            <div class="form-group input-group" id="firstDiv">
                                <span class="input-group-text"> <i class="fa fa-user fa-lg"></i> </span>
                                <input name="name" class="form-control" data-toggle="tooltip" data-bs-placement="top" title="The username or password is not correct" placeholder="Full name" type="text" id="connexionName">
                            </div> <!-- form-group// -->
                            <div class="fst-italic text-white text-center" id="nameDanger">
                              <small>This field must not be empty</small>
                            </div>
                            <div class="form-group input-group">
                                <span class="input-group-text"> <i class="fa fa-key"></i> </span>
                                <input name="password" class="form-control" placeholder="Enter password" data-toggle="tooltip" title="" type="password" id="connexionPassword">
                                <i class="input-group-text fa fa-eye-slash"></i>
                            </div> <!-- form-group// -->
                            <div class="fst-italic text-white text-center" id="passwordDanger">
                              <small>This field must not be empty</small>
                            </div>
                        </form>
                    </div>
                    <div class="mx-auto mb-3">
                      <button type="button" class="btn btn-primary" id="connexionButton">Login</button>
                    </div>
                    
                </div>
            </div>
          </div>
          <!-- End Modal Connexion -->

        </div>
      </div>
    </div>
</div>

{% endblock content %}

{% block js %}
<script>
$(function(){

    /**
     * management of password button
     */
    $('.fa-eye-slash').click(
      function () {
        var newType = $(this).siblings('input').attr('type') === 'password' ? 'text' : 'password';
        $(this).siblings('input').attr('type', newType);
        $(this).toggleClass('fa-eye-slash').toggleClass('fa-eye');
      }
    );
    
        /* click on connexion button */
    $('#connexionButton').click(
        function(){
          
          var emptyName = ($('#connexionName').val().length === 0) ? true : false;
          var emptyPassword = ($('#connexionPassword').val().length === 0) ? true : false;
          var warn = 'This field must not be empty';
          
          if(!emptyName && !emptyPassword){
            if(userAuth($('#connexionForm'))){
              $('#modal-connexion').modal('toggle');
              $("#welcomemessage").html($('#connexionName').val() + " welcome to forums");
              $('#welcome').modal('show');
            }
            else{
              $('#connexionName').tooltip('enable').tooltip('show');
              $('#connexionPassword').val('');
              $('#connexionPassword').focus();
              filledInput($('#connexionPassword'), $('#passwordDanger'));
            }
          }
          else if(emptyName && emptyPassword){
            dangerInput($('#connexionName'), $('#nameDanger'), $('#nameDanger small'), warn);
            dangerInput($('#connexionPassword'), $('#passwordDanger'), $('#passwordDanger small'), warn);
            $('#connexionName').tooltip('disable');
          }
          else if(emptyName && !emptyPassword){
            dangerInput($('#connexionName'), $('#nameDanger'), $('#nameDanger small'), warn);
            filledInput($('#connexionPassword'), $('#passwordDanger'));
            $('#connexionName').tooltip('disable');
          }
          else if(!emptyName && emptyPassword){
            dangerInput($('#connexionPassword'), $('#passwordDanger'), $('#passwordDanger small'), warn);
            filledInput($('#connexionName'), $('#nameDanger'));
            $('#connexionName').tooltip('disable');
          }
        }
    );


    function dangerInput(objectInput, objectNotice, objectWarning, warning){
      if(!objectInput.hasClass('border-danger')){
        objectInput.addClass('border-danger');
      }
      if(!objectNotice.hasClass('text-danger')){
        objectNotice.removeClass('text-white');
        objectNotice.addClass('text-danger');
      }
      objectWarning.html(warning);
    }

    function filledInput(objectInput, objectNotice){
      if(objectInput.hasClass('border-danger')){
        objectInput.removeClass('border-danger');
      }
      if(objectNotice.hasClass('text-danger')){
        objectNotice.removeClass('text-danger');
        objectNotice.addClass('text-white');
      }
    }

});
</script>
{% endblock js %}
