{% extends "admin/passwordbase.html" %}
{% load i18n static %}


{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}">
{% endblock css %}

{% block content %}

<div class="container">
    <div class="row g-5 p-4">
      <div class="col-sm-12 col-lg-6">
        <div class="p-5">
            <h2>{% translate 'Password reset confirmation' %}</h2>

            {% if validlink %}

            <p>{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

            <form method="post">{% csrf_token %}
                <fieldset class="module aligned">
                    <div class="form-row field-password1 mb-1">
                        <label for="id_username">{% translate 'Username:' %}</label>
                        <input id="id_username" class="hidden" autocomplete="username" value="{{ form.user.get_username }}">
                    </div>
                    <div class="form-row field-password1 mb-1">
                        {{ form.new_password1.errors }}
                        <label for="id_new_password1">{% translate 'New password:' %}</label>
                        {{ form.new_password1 }}
                    </div>
                    <div class="form-row field-password2 mb-3">
                        {{ form.new_password2.errors }}
                        <label for="id_new_password2">{% translate 'Confirm password:' %}</label>
                        {{ form.new_password2 }}
                    </div>
                    <input type="submit" class="btn btn-primary" value="{% translate 'Change my password' %}">
                </fieldset>
            </form>

            {% else %}

            <p>{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

            {% endif %}

        </div>
      </div>
    </div>
</div>
{% endblock content %}
