<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style>
      nav .navbar-nav li .nav-link:hover{
        color: #4e7fa1 !important;
      }
    </style>
    <link rel="stylesheet" type="text/css" href="{% static 'downloadaccelerator/base.css' %}">
    <title>Download Accelerator</title>
  </head>
  <body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white shadow">
        <div class="container">
          <a class="navbar-brand text-dark" style="font-weight: bold;" href="#">
            <img src="{% static 'downloadaccelerator/images/daclogo.png' %}" alt="" width="25" height="25" class="d-inline-block align-text-top">
            DOWNLOAD ACCELERATOR
          </a>
          
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" style="font-weight: bold; color: #4e7fa1;" aria-current="page" href="#">HOME</a>
              </li>
              <li class="nav-item">
                <a id="features" class="nav-link text-dark" style="font-weight: bold;" href="#">FEATURES</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark" style="font-weight: bold;" href="#">ABOUT AUTHOR</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark" style="font-weight: bold;" href="#">DOWNLOAD</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" style="font-weight: bold;">SUPPORT</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>

    <img src="{% static 'downloadaccelerator/images/banner.png' %}" class="img-fluid" alt="" width="100%" height="auto">

    <div class="container">
      <div class="row g-2 p-4">
        <div class="col-6">
          <div class="p-3">
            <h2>Download files faster</h2>
            <p>
              Download Accelerator (DAC) to stop waiting for your downloads. You will be truly amazed how fast downloadaccelerator downloads your files. Download Accelerator will also repair broken and resume interrupted downloads due to lost connections and network problems.
            </p>
          </div>
        </div>
        <div class="col-6">
          <div class="p-3 shadow">
            <img src="{% static 'downloadaccelerator/images/capture.png' %}" class="img-fluid" alt="" width="100%" height="auto">
          </div>
        </div>
      </div>
      <div class="row g-2 p-4">
        <div class="col-6">
          <div class="p-3 shadow">
            <img src="{% static 'downloadaccelerator/images/capture.png' %}" class="img-fluid" alt="" width="100%" height="auto">
          </div>
        </div>
        <div class="col-6">
          <div class="p-3">
            <h2>Powerful download software</h2>
            <p>
              Our software uses unique algorithms to receive Internet data in a fastest possible way.
					Download Accelerator will accelerate downloads all times because of its innovative dynamic file
					segmentation technology. Unlike other download managers and accelerators, Download Accelerator threads
					downloaded files dynamically during download process, and it reuses available connections without additional connect
					and login stages to achieve the best possible acceleration performance.
            </p>
          </div>
        </div>
      </div>
      <div class="row g-2 p-4">
        <div class="col-6">
          <h2>Download files from Firefox</h2>
          <p>
            Download Accelerator integrates seamlessly into FireFox. We develop browser extensions, and we have the best engineering solutions available today. Download Accelerator offers the
					installation of its extension for
					<a href="https://addons.mozilla.org/fr/firefox/addon/download_accelerator/">FireFox</a>
          </p>
          <p class="fw-light" >
            You need always to keep Download Accelerator extension installed and enabled in FireFox to take over downloads from it
					and to have Download Accelerator's right click menu items! If you have any problem, first check that "Download Accelerator integration module" extension
					is installed and enabled in your browser.
          </p>
        </div>
        <div class="col-6">
          <div class="p-3 shadow">
            <img src="{% static 'downloadaccelerator/images/capture.png' %}" class="img-fluid" alt="" width="100%" height="auto">
          </div>
        </div>
      </div>
    </div>

    {% block content %}
    
    {% endblock %}

    <footer style="background-color: #4e7fa1;" class="p-3">
      <p class="text-center text-white"> Copyrights, developed by Messey à Ndiomo</p>
    </footer>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script>
      $(function () {
        $('a.nav-link').hover(
          function () {
            $(this).attr('style', 'background-color : blue');
          }
        );
      });
    </script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>