{% extends "downloadaccelerator/base.html" %}
{% load static %}

{% block navigation %}
<div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link text-dark" style="font-weight: bold;" aria-current="page" href="{% url 'downloadaccelerator:home' %}">HOME</a>
    </li>
    <li class="nav-item">
      <a id="features" class="nav-link text-dark" style="font-weight: bold;" href="{% url 'downloadaccelerator:features' %}">FEATURES</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" style="font-weight: bold;" href="#">ABOUT AUTHOR</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" style="font-weight: bold;" href="{% url 'downloadaccelerator:download' %}">DOWNLOAD</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" style="font-weight: bold;">SUPPORT</a>
    </li>
  </ul>
</div>
{% endblock navigation %}

{% block banner %}
<div class="main-banner d-flex flex-column justify-content-center">
	<img src="{% static 'downloadaccelerator/images/banner-download.png' %}" class="img-fluid" alt="" width="100%" height="auto">
    <div class="container-banner" id="text-banner-download">
        <h1 class="text-light">Download Accelerator Features</h1>
        <div class="text-light font-bold">Explore all Download Accelerator features</div>
        <button type="button" class="btn btn-success font-bold">TRY DOWNLOAD ACCELERATOR</button>
    </div>
</div>
{% endblock banner %}

{% block content %}
{% endblock content %}

{% block footer %}
<footer class="p-4" id="footer-download">
  <p class="text-center text-light"> Copyrights, developed by Messey à Ndiomo</p>
</footer>
{% endblock footer %}