{% extends "downloadaccelerator/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'downloadaccelerator/jquery-ui.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'downloadaccelerator/download.css' %}">
{% endblock css %}

{% block download %}
<a class="nav-link active" style="font-weight: bold;" href="{% url 'downloadaccelerator:download' %}">DOWNLOAD</a>
{% endblock download %}

{% block banner %}
<div class="main-banner d-flex flex-column justify-content-center">
	<img src="{% static 'downloadaccelerator/images/banner-download.png' %}" class="img-fluid" alt="" width="100%" height="auto">
    <div class="container-banner text-banner">
        <h1 class="text-light">Download Accelerator Features</h1>
        <div class="text-light font-bold">Explore all Download Accelerator features</div>
        <button type="button" class="btn btn-success font-bold btn-download">TRY DOWNLOAD ACCELERATOR</button>
    </div>
</div>
{% endblock banner %}

{% block content %}
<div class="container">
    <div class="row g-5 p-4">
      <div class="col-sm-12 col-lg-6">
        <div class="p-3">
          <h2>Registration</h2>
          <p>Thus, you may access to the <a data-bs-toggle="modal" data-bs-target="#modal-connexion" href="">forums</a> and if you have any questions about Download Accelerator, you will contact its conceptor. So you can register <a data-bs-toggle="modal" data-bs-target="#modal-registration" href="">here</a>.</p>

          <!-- Modal Connexion -->
          <div class="modal fade" id="modal-connexion" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="mx-auto mt-3">
                      <h5 class="modal-title" id="">Sign in</h5>
                    </div>
                    <div class="modal-body">
                        <form id="connexionForm">
                        {% csrf_token %}
                            <div class="form-group input-group" id="firstDiv">
                                <span class="input-group-text"> <i class="fa fa-user fa-lg"></i> </span>
                                <input name="name" class="form-control" data-toggle="tooltip" data-bs-placement="top" title="The username or password is not correct" placeholder="Full name" type="text" id="connexionName">
                            </div> <!-- form-group// -->
                            <div class="fst-italic text-white text-center" id="nameDanger">
                              <small>This field must not be empty</small>
                            </div>
                            <div class="form-group input-group">
                                <span class="input-group-text"> <i class="fa fa-key"></i> </span>
                                <input name="password" class="form-control" placeholder="Enter password" data-toggle="tooltip" title="" type="password" id="connexionPassword">
                                <i class="input-group-text fa fa-eye-slash"></i>
                            </div> <!-- form-group// -->
                            <div class="fst-italic text-white text-center" id="passwordDanger">
                              <small>This field must not be empty</small>
                            </div>
                        </form>
                    </div>
                    <div class="mx-auto mb-3">
                      <button type="button" class="btn btn-primary" id="connexionButton">Login</button>
                    </div>
                    
                    <div class="small mx-auto mb-3"><a class="text-muted" id="forgotPassword" data-bs-toggle="modal" href="#!">Forgot password?</a></div>
                    <div class="mx-auto mb-3">Don't have an account? <a href="#!" class="link-info" data-bs-toggle="modal" data-bs-target="#modal-registration">Register here</a></div>
                    
                </div>
            </div>
          </div>
          <!-- End Modal Connexion -->

          <!-- Modal forget password -->
          <div class="modal fade" id="modal-forget-password" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="mx-auto mt-3">
                      <h5 class="modal-title" id="">Forgotten Password</h5>
                    </div>
                    <div class="modal-body">
                        <form id="forgetPassForm">
                        {% csrf_token %}
                            <div>
                              <input type="hidden" id="forgetName" name="forgetName" value="">
                            </div>
                            <div class="form-group input-group">
                                <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                                <input name="forgetPassEmail" class="form-control" data-toggle="tooltip" title="Please type a valid email address" placeholder="Email address" type="email" id="forgetPassEmail">
                            </div> <!-- form-group// -->
                            <div class="fst-italic text-white text-center" id="forgetPassNameDanger">
                              <small>This field must not be empty</small>
                            </div>
                        </form>
                    </div>
                    <div class="mx-auto mb-3">
                      <button type="button" class="btn btn-primary" id="forgetPassButton">Reinitialize Password</button>
                    </div>
                    <div class="mx-auto mb-3">
                      <a href="#!" class="link-info" data-bs-toggle="modal" data-bs-target="#modal-connexion"><i class="fa fa-long-arrow-left" aria-hidden="true" style="font-size:30px"></i></a>
                    </div>
                </div>
            </div>
          </div>
          <!-- End Modal forget password -->

          <!-- Dialog welcome to the forums -->
          <div class="modal fade" id="welcome" data-bs-backdrop="static">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-body text-center">
                    <label id="welcomemessage"></label>
                  </div>
                  <div class="mx-auto mb-3">
                    <button type="button" class="btn btn-primary" id="forumModal">OK</button>
                  </div>
                </div>
            </div>
          </div>
          <!-- End Dialog welcome to the forums -->
          <!-- Modal Registration-->
          <div class="modal fade" id="modal-registration" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header mx-auto">
                        <h5 class="modal-title" id="exampleModalLabel">Create a free Account</h5>
                    </div>
                    <div class="modal-body">
                        <div class="d-grid gap-2">
                            <a href="" class="btn btn-block btn-twitter"> <i class="fa fa-twitter"></i> Login via Twitter</a>
                            <a href="" class="btn btn-block btn-facebook"> <i class="fa fa-facebook-f"></i> Login via facebook</a>
                        </div>
                        <div class="divider-text"><span class="bg-light">OR</span></div>
                        <form>
                            <div class="form-group input-group mb-3">
                                <span class="input-group-text"> <i class="fa fa-user fa-lg"></i> </span>
                                <input name="" class="form-control" data-toggle="tooltip" title="This field must not be empty and should begin with alphabetic character" placeholder="Full name" type="text" id="name">
                            </div> <!-- form-group// -->

                            <div class="form-group input-group mb-3">
                                <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                                <input name="" class="form-control" data-toggle="tooltip" title="Please type a valid email address" placeholder="Email address" type="email" id="email">
                            </div> <!-- form-group// -->
                            
                            <div class="form-group input-group">
                                <span class="input-group-text"> <i class="fa fa-lock fa-lg"></i> </span>
                                <input class="form-control" placeholder="Create password" type="password" title='Your password must be 8-20 characters long,  must contain special characters "!@#$%&*_?", numbers, lower and upper letters only.'>
                                <i class="input-group-text fa fa-eye-slash"></i>
                            </div> <!-- form-group// -->
                            
                            <!--Progress bar verification for strong passord -->
                            <div  class="progress mb-1" style="height: 15px;">
                              <div id="progressbar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 10%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <!--<small id="passwordHelpBlock" class="form-text text-muted">Your password must be 8-20 characters long,  must contain special characters "!@#$%&*_?", numbers, lower and upper letters only.</small>-->
                            <!--<div id="passwordStrength" class="text-center">STRONG</div>-->
                            <!--End of Progress bar and verification notices -->

                            <div class="form-group input-group mb-3">
                                <span class="input-group-text"> <i class="fa fa-lock fa-lg"></i> </span>
                                <input class="form-control" placeholder="Repeat password" type="password">
                                <i class="input-group-text fa fa-eye-slash"></i>
                            </div> <!-- form-group// -->

                            <div class="form-group d-grid gap-2 mb-3">
                                <button type="button" class="btn btn-primary btn-block" id="btn-createAccount"> Create Account  </button>
                            </div> <!-- form-group// -->
                            <div class="text-center">Have an account? <a href="" data-bs-toggle="modal" data-bs-target="#modal-connexion">Log In</a> </div>
                        </form>
                    </div>
                    <!--<div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>-->
                </div>
            </div>
          </div>
          <!-- End Modal Registration -->
        </div>
      </div>
    </div>
    <div class="row g-5 p-4">
      <div class="col-sm-12 col-lg-6">
        <div class="p-3">
          <h2>Installation Instructions</h2>
          <ul class="">
            <li>First of all, You must have a linux distribution installed on your computer and the browser FireFox installed.</li>
            <li>Then, install Download Accelerator module integration of <a href="https://addons.mozilla.org/fr/firefox/addon/download_accelerator/">FireFox</a>.</li>
            <li>If you dont have snapstore installed, install it by typing on your favorite terminal <strong>sudo snap install snap-store</strong> on Ubuntu or <strong>snap install snap-store</strong> in superuser on others distributions.</li>
            <li>Install the Download Accelerator snap from <strong>snap-store</strong>.</li>
            <li>Launch Download Accelerator. This step is very important, to let the configuration of Download Accelerator snap.</li>
            <li>Retart your user session</li>
            <li>Once you are restart your session, Download Accelerator is ready to be use.</li>
          </ul>
            
        </div>
      </div>
    </div>
</div>
{% endblock content %}

{% block footer %}
<footer class="p-4" id="footer-download">
  <p class="text-center text-light"> Copyrights, developed by Messey à Ndiomo</p>
</footer>
{% endblock footer %}


