{% extends "downloadaccelerator/base.html" %}
{% load static %}

{% block navigation %}
<div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link text-dark" style="font-weight: bold;" aria-current="page" href="{% url 'downloadaccelerator:home' %}">HOME</a>
    </li>
    <li class="nav-item">
      <a id="features" class="nav-link text-dark" style="font-weight: bold;" href="{% url 'downloadaccelerator:features' %}">FEATURES</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" style="font-weight: bold;" href="#">ABOUT AUTHOR</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" style="font-weight: bold;" href="{% url 'downloadaccelerator:download' %}">DOWNLOAD</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" style="font-weight: bold;">SUPPORT</a>
    </li>
  </ul>
</div>
{% endblock navigation %}

{% block banner %}
<div class="main-banner d-flex flex-column justify-content-center">
	<img src="{% static 'downloadaccelerator/images/banner-download.png' %}" class="img-fluid" alt="" width="100%" height="auto">
    <div class="container-banner" id="text-banner-download">
        <h1 class="text-light">Download Accelerator Features</h1>
        <div class="text-light font-bold">Explore all Download Accelerator features</div>
        <button type="button" class="btn btn-success font-bold btn-download">TRY DOWNLOAD ACCELERATOR</button>
    </div>
</div>
{% endblock banner %}

{% block content %}
<div class="container">
    <div class="row g-5 p-4">
      <div class="col-sm-12 col-lg-6">
        <div class="p-3">
          <h2>Registration</h2>
          <p>Thus, you may access to the <a href="">forums</a> and if you have any questions about Download Accelerator, you will contact its conceptor. So you can register <a data-bs-toggle="modal" data-bs-target="#modal-registration" href="">here</a>.</p>

          <!-- Modal -->
          <div class="modal fade" id="modal-registration" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header mx-auto">
                        <h5 class="modal-title" id="exampleModalLabel">Create a free Account</h5>
                    </div>
                    <div class="modal-body">
                        <div class="d-grid gap-2">
                            <a href="" class="btn btn-block btn-twitter"> <i class="fa fa-twitter"></i> Login via Twitter</a>
                            <a href="" class="btn btn-block btn-facebook"> <i class="fa fa-facebook-f"></i> Login via facebook</a>
                        </div>
                        <div class="divider-text"><span class="bg-light">OR</span></div>
                        <form>
                            <div class="form-group input-group mb-3">
                                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                <input name="" class="form-control" placeholder="Full name" type="text">
                            </div> <!-- form-group// -->

                            <div class="form-group input-group mb-3">
                                <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                                <input name="" class="form-control" placeholder="Email address" type="email">
                            </div> <!-- form-group// -->
                            
                            <div class="form-group input-group mb-3">
                                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                <input class="form-control" placeholder="Create password" type="password">
                            </div> <!-- form-group// -->

                            <div class="form-group input-group mb-3">
                                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                <input class="form-control" placeholder="Repeat password" type="password">
                            </div> <!-- form-group// -->

                            <div class="form-group d-grid gap-2 mb-3">
                                <button type="submit" class="btn btn-primary btn-block"> Create Account  </button>
                            </div> <!-- form-group// -->
                            <div class="text-center">Have an account? <a href="">Log In</a> </div>
                        </form>
                    </div>
                    <!--<div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>-->
                </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="row g-5 p-4">
      <div class="col-sm-12 col-lg-6">
        <div class="p-3">
          <h2>Installation Instructions</h2>
          <ul class="">
            <li>First of all, You must have a linux distribution installed on your computer and the browser FireFox installed.</li>
            <li>Then, install Download Accelerator module integration of <a href="https://addons.mozilla.org/fr/firefox/addon/download_accelerator/">FireFox</a>.</li>
            <li>If you dont have snapstore installed, install it by typing on your favorite terminal <strong>sudo snap install snap-store</strong> on Ubuntu or <strong>snap install snap-store</strong> in superuser on others distributions.</li>
            <li>Install the Download Accelerator snap from <strong>snap-store</strong>.</li>
            <li>Launch Download Accelerator. This step is very important, to let the configuration of Download Accelerator snap.</li>
            <li>Retart your user session</li>
            <li>Once you are restart your session, Download Accelerator is ready to be use.</li>
          </ul>
            
        </div>
      </div>
    </div>
</div>
{% endblock content %}

{% block footer %}
<footer class="p-4" id="footer-download">
  <p class="text-center text-light"> Copyrights, developed by Messey à Ndiomo</p>
</footer>
{% endblock footer %}