{% extends "downloadaccelerator/forumsbase.html" %}
{% load static %}


{% block js %}
<script type="text/javascript" src="{{ STATIC_URL }} static/downloadaccelerator/forums.js"></script>

<script>
$(
    function(){
        for (var obj of $('.dropdown-item')){
            if($(obj).html() == "{{ forumName }}")
                $(obj).addClass('choisedForum');
        }

        $('#footer-forums').css('background-image', "url(static/downloadaccelerator/images/banner-{{ forumName }}.png)");
    }
);
</script>

{% endblock js %}