{% extends "downloadaccelerator/base.html" %}
{% load static %}


{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'downloadaccelerator/home.css' %}">
{% endblock css %}


{% block home %}
<a class="nav-link active" style="font-weight: bold;" aria-current="page" href="{% url 'downloadaccelerator:home' %}">Home</a>
{% endblock home %}

{% block banner %}
<header class="banner-properties home-banner">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="text-light">Accelerate yours downloads</h1>
        <p class="text-light font-bold">Download Accelerator is a tool to increase download speeds, resume and schedule downloads</p>
        <div class="row align-items-center">
          <div class="col-12 text-center">
            <button type="button" class="btn btn-success font-bold btn-download d-none d-lg-inline">TRY DOWNLOAD ACCELERATOR</button>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-12 text-center">
            <button type="button" class="btn btn-success btn-sm font-bold btn-download d-lg-none">TRY DOWNLOAD ACCELERATOR</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock banner %}

{% block content %}
<div class="container">
    <div class="row g-5">
      <div class="col-sm-12 col-lg-6">
        <div class="p-3">
          <h2>Download files faster</h2>
          <p>Download Accelerator (DAC) to stop waiting for your downloads. You will be truly amazed how fast downloadaccelerator downloads your files. Download Accelerator will also repair broken and resume interrupted downloads due to lost connections and network problems.</p>
        </div>
      </div>
      <div class="col-sm-12 col-lg-6">
        <div class="p-3 shadow">
          <img src="{% static 'downloadaccelerator/images/capture-home-1.png' %}" class="img-fluid" alt="" width="100%" height="auto">
        </div>
      </div>
      <div class="col-sm-12 col-lg-6">
        <div class="p-3 shadow">
          <img src="{% static 'downloadaccelerator/images/capture-home-2.png' %}" class="img-fluid" alt="" width="100%" height="auto">
        </div>
      </div>
      <div class="col-sm-12 col-lg-6">
        <div class="p-3">
          <h2>Powerful download software</h2>
          <p>
            Our software uses unique algorithms to receive Internet data in a fastest possible way.
                  Download Accelerator will accelerate downloads all times because of its innovative dynamic file
                  segmentation technology. Unlike other download managers and accelerators, Download Accelerator threads
                  downloaded files dynamically during download process, and it reuses available connections without additional connect
                  and login stages to achieve the best possible acceleration performance.
          </p>
        </div>
      </div>
      <div class="col-sm-12 col-lg-6">
        <div class="p-3">
          <h2>Download files from Firefox</h2>
          <p>Download Accelerator integrates seamlessly into FireFox. We develop browser extensions, and we have the best engineering solutions available today. Download Accelerator offers the
                  installation of its extension for
                  <a href="https://addons.mozilla.org/fr/firefox/addon/download_accelerator/">FireFox</a>
          </p>
          <p class="fw-light" >You need always to keep Download Accelerator extension installed and enabled in FireFox to take over downloads from it
                  and to have Download Accelerator's right click menu items! If you have any problem, first check that "Download Accelerator integration module" extension
                  is installed and enabled in your browser.
          </p>
        </div>
      </div>
      <div class="col-sm-12 col-lg-6">
        <div class="p-3 shadow">
          <img src="{% static 'downloadaccelerator/images/capture-home-3.png' %}" class="img-fluid" alt="" width="100%" height="auto">
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

