<div class="mx-auto mt-3">
    <h5 class="modal-title" id="">Sign in</h5>
</div>
<div class="modal-body">
    <form id="connexionForm">
    {% csrf_token %}
        <div class="form-group input-group" id="firstDiv">
            <span class="input-group-text"> <i class="fa fa-user fa-lg"></i> </span>
            <input name="name" class="form-control" data-toggle="tooltip" data-bs-placement="top" title="The username or password is not correct" placeholder="Full name" type="text" id="connexionName">
        </div> <!-- form-group// -->
        <div class="fst-italic text-white text-center" id="nameDanger">
            <small>This field must not be empty</small>
        </div>
        <div class="form-group input-group">
            <span class="input-group-text"> <i class="fa fa-key"></i> </span>
            <input name="password" class="form-control" placeholder="Enter password" data-toggle="tooltip" title="" type="password" id="connexionPassword">
            <i class="input-group-text fa fa-eye-slash"></i>
        </div> <!-- form-group// -->
        <div class="fst-italic text-white text-center" id="passwordDanger">
            <small>This field must not be empty</small>
        </div>
    </form>
</div>
<div class="mx-auto mb-3">
    <button type="button" class="btn btn-primary" id="connexionButton">Login</button>
</div>
{% if modaltype != 'reset' %}
<div class="small mx-auto mb-3"><a class="text-muted" id="forgotPassword" data-bs-toggle="modal" href="#!">Forgot password?</a></div>
<div class="mx-auto mb-3">Don't have an account? <a href="#!" class="link-info" data-bs-toggle="modal" data-bs-target="#modal-registration">Register here</a></div>
{% endif %}

<script>
$(function(){
    /**
     * management of password button
     */
    $('.fa-eye-slash').click(
      function () {
        var newType = $(this).siblings('input').attr('type') === 'password' ? 'text' : 'password';
        $(this).siblings('input').attr('type', newType);
        $(this).toggleClass('fa-eye-slash').toggleClass('fa-eye');
      }
    );

    /* click on connexion button */
    $('#connexionButton').click(
        function(){
          
          var emptyName = ($('#connexionName').val().length === 0) ? true : false;
          var emptyPassword = ($('#connexionPassword').val().length === 0) ? true : false;
          var warn = 'This field must not be empty';
          
          if(!emptyName && !emptyPassword){
            if(userAuth($('#connexionForm'))){
              window.open("{% url 'downloadaccelerator:forums' 'linux' %}", "_self");
            }
            else{
              $('#connexionName').tooltip('enable').tooltip('show');
              $('#connexionPassword').val('');
              $('#connexionPassword').focus();
              filledInput($('#connexionPassword'), $('#passwordDanger'));
            }
          }
          else if(emptyName && emptyPassword){
            dangerInput($('#connexionName'), $('#nameDanger'), $('#nameDanger small'), warn);
            dangerInput($('#connexionPassword'), $('#passwordDanger'), $('#passwordDanger small'), warn);
            $('#connexionName').tooltip('disable');
          }
          else if(emptyName && !emptyPassword){
            dangerInput($('#connexionName'), $('#nameDanger'), $('#nameDanger small'), warn);
            filledInput($('#connexionPassword'), $('#passwordDanger'));
            $('#connexionName').tooltip('disable');
          }
          else if(!emptyName && emptyPassword){
            dangerInput($('#connexionPassword'), $('#passwordDanger'), $('#passwordDanger small'), warn);
            filledInput($('#connexionName'), $('#nameDanger'));
            $('#connexionName').tooltip('disable');
          }
        }
    );

    function dangerInput(objectInput, objectNotice, objectWarning, warning){
      if(!objectInput.hasClass('border-danger')){
        objectInput.addClass('border-danger');
      }
      if(!objectNotice.hasClass('text-danger')){
        objectNotice.removeClass('text-white');
        objectNotice.addClass('text-danger');
      }
      objectWarning.html(warning);
    }

    function filledInput(objectInput, objectNotice){
      if(objectInput.hasClass('border-danger')){
        objectInput.removeClass('border-danger');
      }
      if(objectNotice.hasClass('text-danger')){
        objectNotice.removeClass('text-danger');
        objectNotice.addClass('text-white');
      }
    }

    function userAuth(connexionForm){
      var ret = false;
      var serializedData = connexionForm.serialize();
      $.ajax({
        async: false,
        type: 'POST',
        url: "{% url 'downloadaccelerator:userauth' %}",
        data: serializedData,
        success: function(response){
          if(response["auth"]){
            ret = true;
          }
        }
      });
      return ret;
    }
});
</script>