<!-- Dialog welcome to the forums -->
<div class="modal fade" id="welcome" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <label id="welcomemessage"></label>
            </div>
            <div class="mx-auto mb-3">
                <button type="button" class="btn btn-primary" id="forumModal">OK</button>
            </div>
        </div>
    </div>
</div>
<!-- End Dialog welcome to the forums -->