{% load static %}
<!-- Dialog loading to password reset -->
<div class="modal fade" id="loadingpasswordreset" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-body text-center">
                <img src="{% static 'downloadaccelerator/images/loading.gif' %}" width="70" height="70" class="img-fluid rounded-top" alt="">
            </div>
        </div>
    </div>
</div>
<!-- End Dialog loading to password reset -->