{% extends "downloadaccelerator/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'Discussion_forum/forums.css' %}">
{% endblock css %}

{% block forums %}
<a class="nav-link active" data-bs-toggle="dropdown" aria-expanded="false" id="forumsList" style="font-weight: bold;" href="#">FORUMS</a>
{% endblock forums %}

{% block banner %}
<div class="main-banner d-flex flex-column justify-content-center">
  {% if forumName %}
    {% with link="Discussion_forum/images/banner-"|add:forumName|add:".png" %}
    <img src="{% static link %}" class="img-fluid" alt="" width="100%" height="auto">
    {% endwith %}
  {% else %}
    <img src="{% static 'Discussion_forum/images/banner-forums.png' %}" class="img-fluid" alt="" width="100%" height="auto">
    <div class="container-banner text-banner">
      <h1 class="text-light">Welcome to DAC Knowledge Base!</h1>
      <div class="input-group">
        <input type="search" class="form-control rounded-start border-success" placeholder="What are you looking for ?" aria-label="Search" aria-describedby="search-addon" />
        <button type="button" class="btn btn-success">search</button>
      </div>
    </div>
  {% endif %}
</div>
{% endblock banner %}

{% block content %}
<div class="container">
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="ibox-content forum-container">
                {% if forumName %}
                    {% if discussion %}
                        <!-- The discussion creator name, topic and details -->
                        <div class="forum-item active">
                            <div class="row">
                                <div class="col-sm-2">
                                    <div class="discussion-username">{{ discussion.creator }}</div>
                                    <div class="date">{{ discussion.date_created }}</div>
                                </div>
                                <div class="col-sm-8">
                                    <a class="forum-item-title">{{ discussion.topic }}</a>
                                    <div class="discussion-sub-title">{{ discussion.details }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="forum-title">
                            <div class="pull-right forum-desc">
                                <small>Total answers: {{ count }}</small>
                            </div>
                            <h3>Answers</h3>
                        </div>
                        {% if answersList %}
                            {% for a in answersList %}
                            <div class="forum-item active">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <div class="discussion-username">{{ a.poster }}</div>
                                        <div class="date">{{ a.date_created }}</div>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="discussion-sub-title">{{ a.message }}</div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        {% else %}
                        <!-- The answers list is empty -->
                        {% endif %}
                        {% if username and username != '' %}
                            <!-- Add discussion must be code here -->
                            <form method="post" id="addPostForm">
                            {% csrf_token %}
                                <fieldset class="">
                                    <div>
                                        <input type="hidden" name="questionid" value="{{ discussion.id }}">
                                    </div>
                                    <div>
                                        <input type="hidden" name="username" value="{{ username }}">
                                    </div>
                                    <div class="row">
                                        <label for="idMessage" class="col-sm-2 col-form-label">Message:</label>
                                        <div class="col-sm-8">
                                            <textarea class="form-control" name="message" id="idMessage" rows="3"></textarea>
                                        </div>
                                    </div>
                                    <div class="fst-italic text-white text-center mb-2" id="idMessageDanger">
                                        <small>This field must not be empty</small>
                                    </div>
                                    <div class="col-sm-10">
                                        <input id="idAddPost" type="button" class="btn btn-primary" value="Add Post" style="float:right;">
                                    </div>
                                </fieldset>
                            </form>
                            {% endif %}
                    {% else %}
                    <!-- Ouput of the forumName disussion -->
                    <div class="forum-title">
                        <div class="pull-right forum-desc">
                            <small>Total posts: {{ count }}</small>
                        </div>
                        <h3>Discussions list</h3>
                    </div>
                        {% if questionsList %}
                            {% for q in questionsList %}
                            <div class="forum-item active">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <div class="discussion-username">{{ q.username }}</div>
                                        <div class="date">{{ q.date_created }}</div>
                                    </div>
                                    <div class="col-sm-8">
                                        {% if username and username != '' %}
                                        <a href="{% url 'Discussion_forum:forums' forumName q.id %}?username={{ username }}" class="forum-item-title">{{ q.topic }}</a>
                                        {% else %}
                                        <a href="{% url 'Discussion_forum:forums' forumName q.id %}" class="forum-item-title">{{ q.topic }}</a>
                                        {% endif %}
                                        <div class="discussion-sub-title">{{ q.details }}</div>
                                    </div>
                                    <div class="col-sm-1 forum-info">
                                        <span class="views-number">{{ q.numberOfViews }}</span>
                                        <div>
                                            <small>Views</small>
                                        </div>
                                    </div>
                                    <div class="col-sm-1 forum-info">
                                        <span class="views-number">{{ q.numberOfPosts }}</span>
                                        <div>
                                            <small>Posts</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        {% else %}
                        <!-- The questions list is empty -->
                        {% endif %}
                        {% if username and username != '' %}
                            <!-- Add discussion must be code here -->
                            <form method="post" id="addDiscussionForm">
                            {% csrf_token %}
                                <fieldset class="">
                                    <div>
                                        <input type="hidden" name="forumname" value="{{ forumName }}">
                                    </div>
                                    <div>
                                        <input type="hidden" name="username" value="{{ username }}">
                                    </div>
                                    <div class="row">
                                        <label for="idTopic" class="col-sm-2 col-form-label">Topic:</label>
                                        <div class="col-sm-8">
                                            <input type="text" name="topic" id="idTopic" class="form-control">
                                        </div>
                                    </div>
                                    <div class="fst-italic text-white text-center mb-2" id="idTopicDanger">
                                        <small>This field must not be empty</small>
                                    </div>
                                    <div class="row">
                                        <label for="idDetails" class="col-sm-2 col-form-label">Details:</label>
                                        <div class="col-sm-8">
                                            <textarea class="form-control" name="details" id="idDetails" rows="3"></textarea>
                                        </div>
                                    </div>
                                    <div class="fst-italic text-white text-center mb-2" id="idDetailsDanger">
                                        <small>This field must not be empty</small>
                                    </div>
                                    <div class="col-sm-10">
                                        <input id="idAddDiscussion" type="button" class="btn btn-primary" value="Add Discussion" style="float:right;">
                                    </div>
                                </fieldset>
                            </form>
                        {% endif %}
                    {% endif %}
                {% elif forumsList %}
                <div class="forum-title">
                    <div class="pull-right forum-desc">
                        <small>Total posts: {{ count }}</small>
                    </div>
                    <h3>Forums list</h3>
                </div>
                    {% for f in forumsList %}
                    <div class="forum-item active">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="forum-icon">
                                    {% if f.name == 'dac' %}
                                    <img src="{% static 'Discussion_forum/images/dac-icon.jpg' %}" alt="downloadaccelerator icon" width="16" height="16">
                                    {% elif f.name == 'django' %}
                                    <i class="fab fa-python"></i>
                                    {% else %}
                                    <i class="fab fa-{{ f.name }}"></i>
                                    {% endif %}
                                </div>
                                {% if username and username != '' %}
                                <a href="{% url 'Discussion_forum:forums' f.name %}?username={{ username }}" class="forum-item-title">{{ f.title }}</a>
                                {% else %}
                                <a href="{% url 'Discussion_forum:forums' f.name %}" class="forum-item-title">{{ f.title }}</a>
                                {% endif %}
                                <div class="forum-sub-title">{{ f.description }}</div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">{{ f.numberOfViews }}</span>
                                <div>
                                    <small>Views</small>
                                </div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">{{ f.numberOfTopics }}</span>
                                <div>
                                    <small>Topics</small>
                                </div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">{{ f.numberOfPosts }}</span>
                                <div>
                                    <small>Posts</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                <!-- The forums list is empty -->
                {% endif %}
            </div>
        </div>
    </div>
</div>
  </div>
{% endblock content %}


{% block js %}
{{ block.super }}
<script>
$(
    function(){
        {% include "downloadaccelerator/include/common.js" %}
        $('#idAddDiscussion').click(
            function(){

                var emptyTopic = ($('#idTopic').val().length === 0) ? true : false;
                var emptyDetails = ($('#idDetails').val().length === 0) ? true : false;
                var warn = 'This field must not be empty';

                if(!emptyTopic && !emptyDetails){
                    $(this).addClass('wait');
                    if(addDiscussion($('#addDiscussionForm'))){
                        $('#idTopic').val('');
                        $('#idDetails').val('');
                        /* reload current page */
                        location.reload();
                        $('#idTopic').focus();
                    }
                    $(this).removeClass('wait');
                }
                else if(emptyTopic && !emptyDetails){
                    dangerInput($('#idTopic'), $('#idTopicDanger'), $('#idTopicDanger small'), warn);
                    filledInput($('#idDetails'), $('#idDetailsDanger'));
                }
                else if(!emptyTopic && emptyDetails){
                    filledInput($('#idTopic'), $('idTopicDanger'));
                    dangerInput($('#idDetails'), $('#idDetailsDanger'), $('#idDetailsDanger small'));
                }
                else{
                    dangerInput($('#idTopic'), $('#idTopicDanger'), $('#idTopicDanger small'), warn);
                    dangerInput($('#idDetails'), $('#idDetailsDanger'), $('#idDetailsDanger small'));
                }
            }
        );

        $('#idAddPost').click(
            function(){

                var emptyMessage = ($('#idMessage').val().length === 0) ? true : false;
                var warn = 'This field must not be empty';

                if(emptyMessage){
                   dangerInput($('#idMessage'), $('#idMessageDanger'), $('#idMessageDanger small'), warn); 
                }
                else{
                    $(this).addClass('wait');
                    if(addPost($('#addPostForm'))){
                        $('#idMessage').val('');
                        /* reload current page */
                        location.reload();
                        $('#idMessage').focus();
                   }
                   $(this).removeClass('wait');
                }
            }
        );

        function addDiscussion(addDiscussionForm){
            var ret = false;
            var serializedData = addDiscussionForm.serialize();
            $.ajax({
                async: false,
                type: 'POST',
                url: "{% url 'Discussion_forum:addInQuestion' %}",
                data: serializedData,
                success: function(response){
                    if(response["added"]){
                    ret = true;
                    }
                }
            });
            return ret;
        }

        function addPost(addPostForm){
            var ret = false;
            var serializedData = addPostForm.serialize();
            $.ajax({
                async: false,
                type: 'POST',
                url: "{% url 'Discussion_forum:addInAnswer' %}",
                data: serializedData,
                success: function(response){
                    if(response["added"]){
                    ret = true;
                    }
                }
            });
            return ret;
        }
    }
);
</script>
{% endblock js %}