{% extends "downloadaccelerator/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'Discussion_forum/forums.css' %}">

{% endblock css %}

{% block forums %}
<a class="nav-link active" data-bs-toggle="dropdown" aria-expanded="false" id="forumsList" style="font-weight: bold;" href="#">Forums</a>
{% endblock forums %}



{% block content %}
<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1/2rem;">
          <div class="card-body p-5 text-center">
            <div class="d-flex justify-content-center align-items-center mb-3 pb-1">
              <img src="{% static 'downloadaccelerator/images/daclogo.png' %}" width="35" height="35" class="img-fluid rounded-top" alt="">
            </div>
            <h4 class="mb-5">Sign in</h4>

            <div id="carouselControls" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
              <div class="carousel-inner">
                <form id="connexionForm" class="carousel-item active">
                  {% csrf_token %}
                  <div class="form-floating">
                    <input type="text" id="connexionName" name="name" class="form-control" placeholder="">
                    <label class="form-label" for="idusername">Username</label>
                  </div>
                  <div class="fst-italic text-white text-center" id="nameDanger">
                    <small>This field must not be empty</small>
                  </div>

                  <div class="form-floating">
                    <input type="password" class="form-control" name="password" id="connexionPassword" placeholder="">
                    <label for="floatingLabel">Password</label>
                  </div>
                  <div class="fst-italic text-white text-center" id="passwordDanger">
                    <small>This field must not be empty</small>
                  </div>

                  <div class="pt-1 mb-4">
                    <button class="btn btn-primary btn-block" id="connexionButton" type="button">Login</button>
                  </div>
                  <a class="small text-muted" data-bs-target="#carouselControls" href="#" id="forgotPassword2">Forgot password?</a>
                </form>

                <form id="forgetPassForm" class="carousel-item">
                  {% csrf_token %}
                  <div>
                    <input type="hidden" id="forgetName" name="forgetName" value="">
                  </div>
                  <div class="form-floating mb-4">
                    <input name="forgetPassEmail" class="form-control" data-toggle="tooltip" title="Please type a valid email address" placeholder="Email address" type="email" id="forgetPassEmail">
                    <label for="forgetPassEmail">Email address</label>
                  </div>
                  <div class="fst-italic text-white text-center" id="forgetPassNameDanger">
                    <small>This field must not be empty</small>
                  </div>
                  <div class="ms-auto" style="height: 30px;"></div>
                  <div class="mx-auto mb-4">
                    <button type="button" class="btn btn-primary" id="forgetPassButton">Reinitialize Password</button>
                  </div>
                  <div class="mx-auto mb-4">
                    <a href="" class="link-info" data-bs-target="#carouselControls" data-bs-slide="prev" id="returnForgetPassword"><i class="fas fa-reply" aria-hidden="true" style="font-size:30px"></i></a>
                  </div>
                </form>
              </div>
            </div>
            {% include "downloadaccelerator/include/modalwelcome.html" %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}

{% block copyrightstyle %}
style="background-color: white;"
{% endblock copyrightstyle %}

{% block js %}
<script>
$(
    function(){
      {% include "downloadaccelerator/include/common.js" %}
      {% include "downloadaccelerator/include/modalconnexion.js" %}
      {% include "downloadaccelerator/include/modalforgetpass.js" %}

      /* click on forgot password link */
      $('#forgotPassword2').click(
          function(e){
            var emptyName = ($('#connexionName').val().length === 0) ? true : false;
            if(emptyName){
              dangerInput($('#connexionName'), $('#nameDanger'), $('#nameDanger small'), 'This field must not be empty');
            }
            else {
              if(userExist($('#connexionName').val())){
                filledInput($('#connexionName'), $('#nameDanger'));
                $('#carouselControls').carousel('next');
                $('#forgetName').val($('#connexionName').val());
              }
              else{
                dangerInput($('#connexionName'), $('#nameDanger'), $('#nameDanger small'), 'This user does not exists');
              }
            }
          }
      );
    }
    
);
</script>
{% endblock js %}