{% extends "downloadaccelerator/base.html" %}
{% load static %}

{% block admin %}
<a class="nav-link active" style="font-weight: bold;">ADMIN</a>
{% endblock admin %}

{% block banner %}
<div class="main-banner d-flex flex-column justify-content-center">
  <img src="{% static 'downloadaccelerator/images/banner-admin.png' %}" class="img-fluid" alt="" width="100%" height="auto">
  <div class="container-banner text-banner" id="text-banner-admin">
    <h1 class="text-light">Download Accelerator Website Administration</h1>
    <div class="text-light font-bold">Explore all Download Accelerator features</div>
  </div>
</div>
{% endblock banner %}
