{% extends "downloadaccelerator/base.html" %}
{% load static %}

{% block admin %}
<a class="nav-link active" style="font-weight: bold;">ADMIN</a>
{% endblock admin %}

{% block banner %}
<div class="main-banner d-flex flex-column justify-content-center">
  <img src="{% static 'downloadaccelerator/images/banner.png' %}" class="img-fluid" alt="" width="100%" height="auto">
</div>
{% endblock banner %}

{% block footer %}
<footer class="p-4" id="footer-admin">
  <p class="text-center text-light"> Copyrights, developed by Messey à Ndiomo</p>
</footer>
{% endblock footer %}