{% extends "downloadaccelerator/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'admin/passwordbase.css' %}">
{% endblock css %}

{% block admin %}
<a class="nav-link active" style="font-weight: bold;">Admin</a>
{% endblock admin %}

{% block banner %}
<header class="banner-properties admin-banner">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        <h1 class="text-light">Download Accelerator Website Administration</h1>
        <p class="text-light font-bold">Explore all Download Accelerator features</p>
      </div>
    </div>
  </div>
</header>
{% endblock banner %}

