  body{
    overflow-y: scroll;
  }
  
  nav .navbar-nav li .nav-link:hover{
    
    color: #4e7fa1 !important;
  }


  nav .navbar-nav li .active{
    color: #4e7fa1 !important;
  }

  .navbar-toggler{
    font-size: medium;
    font-weight: bold;
  }

  .navbar-toggler > span{
    font-weight: bold;
  }

  a {
    text-decoration: none;
  }

  .navbar-toggler:focus,.navbar-toggler:active,.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
  }

  .font-bold{
      font-weight: bold;
  }

  /*
  .container-banner{
    display: inline-block;
    position: absolute;
    z-index: 2;
  }


  .main-banner img {
    z-index: 1;
  }
  

  .text-banner{
    margin-left: 5%;
  }
  */

  .navbar-toggler{
    color: #4e7fa1 !important;
  }

  .dropdown-forum-item:hover {
    color: #4e7fa1 !important;
    background-color: white;
  }

  .dropdown-menu, .navbar-toggler {
    border: none;
  }

  .dropdown>.dropdown-menu, #idusersettings {
    display: none;
    margin-top: 10px;
    margin-left: 9px;
  }
  
  .dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
      pointer-events: none;
  }

  .banner-properties {
    height: 50vh;
    min-height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #idbuttonuser{
    color: seagreen;
    box-shadow: none;
  }


  .user-setting-item:hover{
    color: seagreen;
    background-color: white;
  }


  .choisedForum{
    color: #4e7fa1;
    background-color: white;
  }

  .wait {
    cursor: wait;
  }