  nav .navbar-nav li .nav-link:hover{
    
    color: #4e7fa1 !important;
  }

  nav .navbar-nav li .active{
    color: #4e7fa1 !important;
  }

  .navbar-toggler{
    font-size: medium;
    font-weight: bold;
  }

  .navbar-toggler > span{
    font-weight: bold;
  }

  a {
    text-decoration: none;
  }

  .navbar-toggler:focus,.navbar-toggler:active,.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
  }

  .font-bold{
      font-weight: bold;
  }

  .container-banner{
    display: inline-block;
    position: absolute;
    z-index: 2;
  }

  .container-footer{
    display: inline-block;
    
    z-index: 2;
  }

  .main-banner img, footer img {
    z-index: 1;
  }
  

  .text-banner{
    margin-left: 10%;
  }

  .navbar-toggler{
    color: #4e7fa1 !important;
  }

  .dropdown-item:hover {
    color: #4e7fa1 !important;
    background-color: white;
  }

  .dropdown-menu, .navbar-toggler {
    border: none;
  }

  .dropdown>.dropdown-menu {
    display: none;
    margin-top: 10px;
    margin-left: 9px;
  }
  
  .dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
      pointer-events: none;
  }