nav .navbar-nav li .nav-link:hover{
    
    color: #4e7fa1 !important;
  }

  nav .navbar-nav li .active{
    color: #4e7fa1 !important;
  }

  .font-bold{
      font-weight: bold;
  }

  .container-banner{
      display: inline-block;
  }

  .main-banner img {
    z-index: 1;
  }

  .main-banner .container-banner{
      position: absolute;
      left: 10%;
      margin-top: 5%;
      z-index: 2;
  }

  .navbar-toggler{
    color: #4e7fa1 !important;
  }
  
  
  #footer-home{
    background-image: url("images/banner.png");
  }

  #footer-features{
    background-image: url("images/banner-features.png");
  }