nav .navbar-nav li .nav-link:hover{
    
    color: #4e7fa1 !important;
  }

  nav .navbar-nav li .active{
    color: #4e7fa1 !important;
  }

  .main-banner{
      display: flex;
  }

  .main-banner img {
    z-index: 1;
  }

  .main-banner .container-banner{
      position: absolute;
      top: 20%;
      left: 10%;
      grid-column-start: 2;
      grid-row-start: 2;
      z-index: 2;
  }
  
  #footer-home{
    background-image: url("images/banner.png");
  }

  #footer-features{
    background-image: url("images/banner-features.png");
  }